*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: red;
    width: 1550px;
    height: 700px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.box div{
    width: 200px;
    height: 200px;
    background-color: blue;
}
@media(max-width:1020px){
    .box div{
        width: 200px;
        height: 200px;
        background-color: green;
    }
}
@media(max-width:800px){
    .box div{
        width: 240px;
        height: 260px;
        background-color: green;
    }
    .box{
        width: 800px;
    }
}
@media(max-width:500px){
    .box div{
        width: 240px;
        height: 200px;
        background-color: green;
    }
    .box{
        width: 500px;
    }
}
@media(max-width:390px){
    .box div{
        width: 80px;
        height: 170px;
        background-color: green;
    }
    .box{
        width: 10px;
        display: flex;
    }
}